/* Color palette mainly from https://colorhunt.co/palette/144327 */

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1f1f1;
}

#nav-bar {
    width: 95%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5%;
    height: auto;
    background-color: #f5e1da;
}

#nav-bar-title {
    font-size: 5vh;
    width: auto;
    font-weight: bold;
    color: #49beb7;
}

#nav-bar-process {
    text-decoration: underline;
    color: rgb(255, 111, 105);
    width: auto;

    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#nav-bar-process:hover {
    color: rgba(255, 111, 105, 0.5);
    cursor: pointer;
}

#game-canvas-wrapper {
    margin-top: 2vh;
    width: 100%;
    height: 80vh;
}

#game-canvas {
    position: absolute;
    height: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vh;

    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#name {
    float: right;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

/* Process Page */

#document-wrapper {
    margin-top: 2vh;
    max-width: 80vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: white;
    border-radius: 2vh;
    padding: 1em;
}

#document-wrapper h1 {
    text-align: center;
}

#document-wrapper h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.image {
    height: auto;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border: 0.5em #085f63C8 solid;
    border-radius: 4px;

    margin-top: 1em;
    margin-bottom: 1em;
}

.image-portrait {
    width: 60%;
}

.image-landscape {
    width: 95%;
}

.image-description {
    padding-bottom: 1em;
    width: 80%;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

.code-inline {
    font-family: 'Inconsolata', monospace;
    background-color: #085f63C8;
    color: white;
    padding: 0.05em;
    border-radius: 0.2vh;
    display: inline;
    height: 0.9em;

    white-space: nowrap;
}

.code-block {
    font-family: 'Inconsolata', monospace;
    background-color: #085f63C8;
    color: white;
    padding: 1em;
    border-radius: 1vh;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link {
    text-decoration: underline;
    color: rgb(255, 111, 105);
    width: auto;

    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.link:hover {
    color: rgba(255, 111, 105, 0.5);
    cursor: pointer;
}

ul {
    list-style: none;
}

li{
    margin-top: 0.5em;
}

.code-block > ul {
    margin-top: 0;
    margin-bottom: 0;
}

.code-block > li {
    margin-top: 0;
}
